.organizacao-item {  
  background: var(--color-cinza-maisclaro);
  border: 1px solid var(--color-cinza);  
  border-radius: 3rem;
  margin-top: 1rem;
  width:600px;
  box-shadow: 0em 0.1em 0.4em var(--color-cinza);  
  cursor: pointer;
  color: var(--color-azul);
}

.organizacao-item header {
  padding: 0.2rem 1.5rem;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto 1fr;
  align-items: left;
}

.organizacao-item img {
  width: 5rem;
  height: 5rem;
  border-radius: 15%;
}

.organizacao-item header div {
  margin-left: 2.4rem;
}

.organizacao-item header div strong {
  font-size: larger;
  display: block;
}

@media (max-width: 755px){

	.organizacao-item {
    padding: 0.2rem 1.5rem;
		width: 95%;
	}	

}
