.container-cadastrousuario {
  /* padding: 1.4rem 1rem; */
  background: whitesmoke;	
  width: 754px; 
  height: 100%;
}

.container-form {
  padding: 1.4rem 6rem;
  align-items: center;
  border: 1px solid var(--color-cinza);  

}

.titulo {
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(0,0,0,1);
  padding: 1rem 1rem;
  /* position: static; */
  border: none;
  text-align: center;  
}

.input-block {
  padding: 0.5rem;
  text-align: center;
  width: 400px;  
}

.botao{
  text-align: center;
  width: 200px;
}