.container-lista-organizacao {  
  background: whitesmoke;	
  /* background:red;	 */
  padding: 1.4rem 1rem;
  display: grid;
	align-items: center;
	width: 754px; 
  height: 100%;
}

.container-pesquisa-organizacao{
  /* background: var(--color-cinza-maisclaro); */
  background: whitesmoke;
  border: 1px solid var(--color-cinza);  
  border-radius: 10px;  
  width:550px;
  height: 32px;
  grid-template-columns: auto 1fr;	
  grid-template-rows: auto;
  box-shadow: 0em 0.1em 0.4em var(--color-cinza);
}

.container-pesquisa-organizacao img {
  padding: 0.5rem 1rem;
}

/* #txtBusca{ */
.txtBusca-organizacao{  
  padding: 1rem 1rem;
  outline: 0;
  float:left;
  background-color:transparent;
  padding-left:30px;
  font-style:italic;
  font-size:18px;
  border:none;
  height:18px;
  width:500px;
}

/* --------------------------------------------responsividade---------------------------------------------- */

@media (max-width: 755px){

  .container-lista-organizacao {  
    width: auto;
  }
  
	.container-pesquisa-organizacao {
		width: 80%;
	}	

  .txtBusca-organizacao {
    width: 80%;
  }

}