
.organizacao-item {
  background: var(--color-background);
  border: 1px solid var(--color-cinza);
  border-radius: 2.5rem;
  margin-top: 2.4rem;
  overflow: hidden;
}

.organizacao-item header {
  padding: 1rem 1.5rem;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto 1fr;
  align-items: left;
}

.organizacao-item img {
  width: 10rem;
  height: 10rem;
  border-radius: 15%;
}

.organizacao-item header div {
  margin-left: 2.4rem;
}

.organizacao-item header div strong {
  font-size: larger;
  display: block;
}