.container-lista-agendamentos {	
  padding: 20px;
	/* background: var(--color-background); */
	background: whitesmoke;			
	/* background: red; */
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-auto-rows: 50px;
	grid-gap: 2rem;
	height: 95%;
	width: 754px;  
	text-align: center;
} 

.button-buscar-agendamento {
	text-align: center;
}

#button-buscar-agendamento {
	width: 100px;
	height: 2rem;
	background: var(--primary-main);	
	color: var(--primary-contrastText);
	border: 0;
	border-radius: 20px;
	cursor: pointer;
	font: 100 1.4rem font-syle-normal;	
	font-size: medium;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	transition: var(--primary-dark) 0.2s;
	margin-top: 1.5rem;
} 

#button-buscar-agendamento:hover {
	background-color: var(--primary-dark);	
}