:root {

  /* Colors: */
  --color-background: #F0F0F7;  
  --color-preto: #000000;
  --color-azul: #04546E;
  --color-cinza: #707070;
  --color-cinza-claro: #C7B7B7;
  
  /* Font/text values */
  --font-nunito-sans: Nunito Sans;
  --font-syle-normal: normal;
  --font-weight-800: 800px;
  --font-weight-normal: normal;
  --font-weight-bold: bold;
  --font-size-20: 20px;
  --font-size-25: 25px;
  --font-size-30: 30px;
  --character-spacing-0: 0px;
  --line-spacing-27: 27px;
  --line-spacing-34: 34px;
  --line-spacing-40: 40px;
  }
  
  /* Character Styles */
  .character-style-1 {
  font-family: var(--font-nunito-sans);
  font-style: var(--font-syle-normal);
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-20);
  line-height: var(--line-spacing-27);
  letter-spacing: var(--character-spacing-0);
  color: var(--color-preto);
  }
  
  .character-style-2 {
  font-family: var(--font-nunito-sans);
  font-style: var(--font-syle-normal);
  font-weight: var(--font-weight-800);
  font-size: var(--font-size-20);
  line-height: var(--line-spacing-27);
  letter-spacing: var(--character-spacing-0);
  color: var(--color-preto);
  }
  
  .character-style-3 {
  font-family: var(--font-nunito-sans);
  font-style: var(--font-syle-normal);
  font-weight: var(--font-weight-800);
  font-size: var(--font-size-25);
  line-height: var(--line-spacing-34);
  letter-spacing: var(--character-spacing-0);
  color: var(--color-preto);
  }
  
  .character-style-4 {
  font-family: var(--font-nunito-sans);
  font-style: var(--font-syle-normal);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-30);
  line-height: var(--line-spacing-40);
  letter-spacing: var(--character-spacing-0);
  color: var(--color-preto);
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html, body, #root {
    height: 100vh;
  }

  body {
    background: var(--color-background);
  }

  #root {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  body,
  input,
  button,
  textarea {
    font: 500 1.6rem Nunito;
  }

  .container {
    width: 90vw;
    max-width: 700px;
  }

  @media (min-width: 700px) {
    :root {
      font-size: 62.5%
    }


  } 

  #divBusca{    
    margin-top: 15px;
    padding-top: 8px;
    background-color:var(--color-cinza-claro);
    border:solid 1px;
    border-radius: 15px;
    width:450px;
  }

  #txtBusca{
    outline: 0;
    float:left;
    background-color:transparent;
    padding-left:30px;
    font-style:italic;
    font-size:18px;
    border:none;
    height:18px;
    width:420px;
  }

  /* .pesquisa-container {
    display: inline-block;
    vertical-align: bottom;
  } */
  