.container {
  padding: 0.5rem;
  /* width: 754px; */
  height: 100%;
  display: grid;
  grid-template-columns: 200px;

  grid-template-rows: 75px 1fr 1fr 25px;
  grid-gap: 1rem;
  grid-template-areas: 
    'header'
    'main'
    'footer';
}

.container-logo img {
  width: 200px;
  height: 100px;
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

header, main, footer {
  background: var(--color-background);
}